{% extends 'base.html.twig' %}
{% block title %}Page admin{% endblock %}

{% block body %}
<h1>Gestion du gîte</h1>
<ul>
    <li><a href="{{ path('app_cottage_index') }}">Voir les gîtes  </a></li>
    <li><a href="{{ path('app_user_index') }}">  Voir les inscriptions  </a></li>
    <li><a href="{{ path('app_booking_index') }}">  Voir les réservations</a></li>
<ul>
{% endblock %}

