{% extends 'layoutEmail.html.twig' %}

{% block title %}Confirmation Email{% endblock %}

{% block body %}
    <h2>Confirmation de votre adresse Email</h2>

    <p>
        Bonjour, merci de confirmer votre adresse email en cliquant sur le lien suivant : <br><br>
        <a href="{{ signedUrl|raw }}">Confirmer mon adresse Email</a>.
        Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
    </p>

    <p>
        L'Etang des Garennes
    </p>
{% endblock %}
