<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>New program</title>
</head>
<body>
    <h1>Nouveau message reçu de {{ contact.fullName }} :</h1>
    <h3> Sujet : {{ contact.subject }} </h3>
    <h4>Message : </h4>
    <p>{{ contact.message }}</p>
    <p>{{ contact.email }}</p>
</body>
</html>