<form method="post" action="{{ path('app_cottage_delete', {'id': cottage.id}) }}" onsubmit="return confirm('Merci de valider la suppression !');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cottage.id) }}">
    <button class="btn">Supprimer</button>
</form>
