<form method="post" action="{{ path('app_cottage_delete', {'id': cottage.id}) }}" onsubmit="return confirm('Merci de confirmer la suppression de la chambre !');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cottage.id) }}">
    <button class="btn-home">Supprimer</button>
</form>
