{% extends 'base.html.twig' %}

{% block title %}New Cottage{% endblock %}

{% block body %}

    <section class="cottage-new py-5">
        <h1 class="text-center mb-3 font-weight-normal">Créer un nouveau gîte</h1>

        {{ include('cottage/_form.html.twig') }}

        <a class="btn-home" href="{{ path('app_cottage_index') }}">Retour à la liste</a>
    </section>

{% endblock %}
