{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <h1>Editer mon profil</h1>

    {{ include('profile/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_profile_show') }}">Retour au profil</a>

{% endblock %}
