{% extends 'base.html.twig' %}


{% block title %}Etang des Garennes{% endblock %}


{% block body %}


    <main id="homePage">
        <section class="homeHeader bg-image p-5">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="container p-5 d-flex justify-content-evenly align-items-center h-100">
                <div class="row">
                    <div class="d-none d-sm-block col-md-8">
                        <img class="arounded" src="{{ asset('build/logo/logo-green-bg-green-round.png') }}" class="card-img-top" alt="...">
                    </div>
                </div>

                <div class="row text-center">
                    <div class="col-md-12 ps-5">
                        <h1>Bienvenue à l'Etang des Garennes</h1>
                        <p class="text-white pt-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="text-white btn-home">En savoir +</a>
                    </div>
                </div>
               
            </div>
        </div>
        </section>

        <section class="cottages my-5">
            <div class="container text-center">
                <h2>Nos chambres</h2>

                <div class="row my-5">
                  
                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card">
                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                <img src="{{ asset('build/pexels-maria-orlova-4906407.jpg') }}" class="img-fluid" />
                                <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </a>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">Post title</h3>
                                <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                                </p>
                                <a href="#!" class="btn-home">Read</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card">
                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                <img src="{{ asset('build/pexels-tatiana-syrikova-3932957.jpg') }}" class="img-fluid" />
                                <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </a>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">Post title</h3>
                                <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                                </p>
                                <a href="#!" class="btn-home">Read</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card">
                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                <img src="{{ asset('build/pexels-kate-stollery-2869499.jpg') }}" class="img-fluid" />
                                <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </a>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">Post title</h3>
                                <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                                </p>
                                <a href="#!" class="btn-home">Read</a>
                            </div>
                        </div>
                    </div>
                </div>
             
            </div>

        </section>

    </main>

{% endblock %}
