<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Titre par défaut{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Etang des Garennes</h1>
    </header>
    {% block body %}{% endblock %}
</body>
</html>
